.idea/
target/
allure-results
allure-report
.DS_Store
src/.DS_Store
src/test/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/io/.DS_Store
src/main/java/io/omni/.DS_Store
src/main/java/io/omni/example/.DS_Store
src/test/resources/.DS_Store
.allure/
.env